{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Flashcard {% endblock %}</h1>
    <form method="post">
        <label for="name">Question</label>
        <br>
        <input type="text" name="question" placeholder="question" value="{{ request.form.get('question', '') }}">
        <br>
        <label for="answer">Answer</label>
        <br>
        <input type="text" name="answer" placeholder="answer" value="{{ request.form.get('answer', '') }}">
        <br>
       
        <select name="category_id" id="category_id">
            {% for category in categories %}
            <option value="{{ category['id'] }}">{{ category['name'] }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}