{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Flashcards {% endblock %}</h1>
    {% for flashcard in flashcards %}
        <div class='post'>
            <p>Question: {{ flashcard['question'] }}</p>
            <h2>Answer: {{ flashcard['answer'] }}</h2>
            <h2>Category: {{ flashcard['category_name'] }}</h2>
            <h2>known: {{ flashcard['known'] }}</h2>

        </div>
    {% endfor %}
{% endblock %}