{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Category {% endblock %}</h1>
    <form method="post">
        <label for="name">Title</label>
        <br>
        <input type="text" name="name" placeholder="New category name" value="{{ request.form.get('name', '') }}">
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
