{% extends 'base.html' %}
   <h1>{% block title %} Categories {% endblock %}</h1>
    {% for category in categories %}
  
{% block content %}
       <div class='post'>
            <h2>{{ category['name'] }}</h2>
            <a href="{{ url_for('flashcards_list', category_id=category['id']) }}">Flashcard List</a>
        </div>
    {% endfor %}
{% endblock %}
